<div class="slider-wrap">
  <div class="slider-item" style="background-image: url(<%= asset_path 'lidye-1Shk_PkNkNw-unsplash-Copy.jpg' %>)">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <h1 data-aos="fade-up">About Restaurant</h1>
          <p class="mb-5" data-aos="fade-up" data-aos-delay="100">A delicious and tasty food</p>
        </div>
      </div>
    </div>

  </div>
  <!-- END slider -->
</div>


<section class="section bg-light py-5  bottom-slant-gray">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">
        <%= image_tag("Fluffy_Pancakes.jpg", class: "img-fluid") %>
      </div>
      <div class="col-lg-5 ml-auto">
        <div class="text-left heading-wrap">
          <h2 data-aos="fade-up">The Restaurant</h2>
        </div>
        <!-- <h3 class="mb-4">Welcome To Our Restaurant</h3> -->
        <p>This peaceful place has the most delicious food The Olive Garden is the most exquisite place to eat and is
          truly the finest restaurant in town.The uniquely textured walls produce a smooth yet flowing look. It is
          almost as if you are in a famous building in Italy.</p>
        <p><%= image_tag("signature.png", class: "img-fluid w-25") %></p>
      </div>

    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="row mb-5 justify-content-center" data-aos="fade">
      <div class="col-md-7 text-center heading-wrap">
        <h2 data-aos="fade-up">Best &amp; Good</h2>
        <p data-aos="fade-up" data-aos-delay="100">Dining out presents a great opportunity to unwind, relax and enjoy a
          delicious meal in a great atmosphere. While this is what most people are looking for when they decide to dine
          out, it is not always what they get.</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4">
        <%= image_tag("Chicket_Fajita_Pasta.jpg", class: "img-fluid about_img_1", "data-aos": "fade", "data-aos-delay": "200") %>
      </div>
      <div class="col-lg-4">
        <%= image_tag("about_1.jpg", class: "img-fluid about_img_1", "data-aos": "fade", "data-aos-delay": "200") %>
      </div>
      <div class="col-lg-4">
        <%= image_tag("Chili_Mac_n_Cheese.jpg", class: "img-fluid about_img_1", "data-aos": "fade", "data-aos-delay": "500") %>
      </div>
    </div>
  </div>
</section>

<section class="section bg-light top-slant-white">

  <div class="clearfix mb-5 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center heading-wrap">
          <h2>Chefs</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="major-caousel js-carousel-1 owl-carousel">
        <div>
          <div class="media d-block media-custom text-center">
            <a href="#"><%= image_tag("teala.jpg", class: "img-fluid") %>"</a>
            <div class="media-body">
              <h3 class="mt-0 text-black">Teala Seferi</h3>
              <p class="lead">CEO, Co-Founder</p>
            </div>
          </div>
        </div>
        <!--        <div>-->
        <!--          <div class="media d-block media-custom text-center">-->
        <!--            <a href="adoption-single.html"><img src="img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>-->
        <!--            <div class="media-body">-->
        <!--              <h3 class="mt-0 text-black">Mike Richardson</h3>-->
        <!--              <p class="lead">CEO, Co-Founder</p>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div>-->
        <!--          <div class="media d-block media-custom text-center">-->
        <!--            <a href="adoption-single.html"><img src="img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>-->
        <!--            <div class="media-body">-->
        <!--              <h3 class="mt-0 text-black">Charles White</h3>-->
        <!--              <p class="lead">CEO, Co-Founder</p>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <!--        <div>-->
        <!--          <div class="media d-block media-custom text-center">-->
        <!--            <a href="adoption-single.html"><img src="img/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>-->
        <!--            <div class="media-body">-->
        <!--              <h3 class="mt-0 text-black">Mellisa Howard</h3>-->
        <!--              <p class="lead">CEO, Co-Founder</p>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div>-->
        <!--          <div class="media d-block media-custom text-center">-->
        <!--            <a href="adoption-single.html"><img src="img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>-->
        <!--            <div class="media-body">-->
        <!--              <h3 class="mt-0 text-black">Mike Richardson</h3>-->
        <!--              <p class="lead">CEO, Co-Founder</p>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div>-->
        <!--          <div class="media d-block media-custom text-center">-->
        <!--            <a href="adoption-single.html"><img src="img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>-->
        <!--            <div class="media-body">-->
        <!--              <h3 class="mt-0 text-black">Charles White</h3>-->
        <!--              <p class="lead">CEO, Co-Founder</p>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->


      </div>
      <!-- END slider -->
    </div>
  </div>

</section> <!-- .section -->