<div class="slider-wrap">
  <div class="slider-item" style="background-image: url(<%= asset_path 'hero_1.jpg' %>);">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 ">
          <h1 data-aos="fade-up">News &amp; Articles</h1>
          <p class="mb-5" data-aos="fade-up" data-aos-delay="100">A delicious and tasty food</p>
        </div>
      </div>
    </div>

  </div>
  <!-- END slider -->
</div>


<section class="section bg-light pt-0 bottom-slant-gray">
  <div class="container-fluid mb-5">
    <div class="row" data-aos="fade">
      <div class="col-md-12 text-center heading-wrap">
        <h2>Special Menu</h2>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <% @menu.each do |item| %>
        <div class="col-sm-6" data-aos="fade-up" data-aos-delay="100">
          <div class="blog d-block">
            <a class="bg-image d-block" href="single.html" style="background-image: url(<%= asset_path item.image_path %>);"></a>
            <div class="text">
              <h3><a href="single.html"><%= item.title %></a></h3>
              <p class="sched-time">
                <span> <%= item.created_at.strftime("%d-%m-%Y") %></span> <br>
              </p>
              <h4><%= Category.find(item.category_id).name %></h4>

              <p><%= link_to "Read More", food_path(item), class: "btn btn-primary btn-sm", method: "get" %></p>

            </div>

          </div>
        </div>
      <% end %>
    </div>

  </div>
</section>